<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=""viewport content="width=device-width,inital-scale=1, shrink-to-fit=no">

    <title>Hello, world!</title>
    <link rel="shortcut icon" href="#">
</head>
<body>
    <h1>Hello, world!</h1>
    <hr>
    <div class="container">
        {% load static %}
        <video width="500" height="300" controls="controls" >
            <source src="{% static 'video/reference.mp4' %}" type="video/mp4"/>
        </video>
    </div>

</body>
</html>